/* ========== アニメーション ========== */
/* フェードインアニメーション */
@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* 点滅アニメーション */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.4;
  }
}

/* ブリンクアニメーション */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
