/* ========== 本アイコン（共通） ========== */
/* 本アイコンの基本スタイル */
.book-icon-open-wide {
  position: relative;
  width: 48px;
  height: 38px;
  perspective: 300px;
}

/* 本の表紙全体 */
.book-icon-cover {
  position: relative;
  width: 48px;
  height: 38px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease, filter 0.6s ease;
}

/* 左ページ（表紙） */
.book-icon-cover::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 36px;
  top: 1px;
  left: 0;
  background: linear-gradient(to right, #dcdcdc, #fdfdfd);
  border: 1px solid #aaa;
  border-radius: 3px 0 0 3px;
  box-shadow: inset -1px 0 2px rgba(110, 110, 110, 0.5), -2px 0 3px #00552e;
  transform-origin: left center;
  transform: rotateY(22deg);
  transition: transform 0.6s ease;
  z-index: 2;
}

/* 右ページ（裏） */
.book-icon-cover::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 36px;
  top: 1px;
  right: 0;
  background: linear-gradient(to left, #dcdcdc, #fdfdfd);
  border: 1px solid #aaa;
  border-radius: 0 3px 3px 0;
  box-shadow: inset -1px 0 2px rgba(110, 110, 110, 0.5), 2px 0 3px #00552e;
  transform-origin: right center;
  transform: rotateY(-22deg);
  transition: transform 0.6s ease;
  z-index: 1;
}
@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
.book-icon-cover:hover {
  animation: wiggle 0.5s infinite;
}
