/* ========== 非アクティブ状態のアイコン ========== */
/* 非アクティブ状態のアイコンとゲームアイコン */
.icon.inactive,
.game-icon-specific.inactive {
  pointer-events: none;
  opacity: 0.4;
  filter: grayscale(100%);
  transition: opacity 0.3s, filter 0.3s;
}
